@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);

:host {

    width: 100%;

    .listagem {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: $padding;

        .pokemon {
            position: relative;
            display: flex;
            background: var(--branco);

            width: calc(49% - 2.5rem);
            height: rem-calc(240);

            margin-bottom: rem-calc(10);
            padding: $padding;

            border-radius: rem-calc(10);
            color: var(--primary-color);


            &__image {
                position: absolute;
                display: flex;
                margin: auto;
                align-items: center;
                justify-content: center;

                height: rem-calc(170);
                width: rem-calc(180);

                right: $padding;
                bottom: $padding;

                img {
                    width: rem-calc(120);
                }
            }
        }


        @media (max-width: 400px) {
            a {
                width: 100% !important;
            }
        }
    }


    h2 {
        font-size: rem-calc(22);
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: rem-calc(10);
    }
    button {
        position: absolute;
        right: 5%;
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 30px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }
}