<!-- Search -->
<poke-search [btnText]="btnText" (onSubmit)="createHandler($event)"></poke-search>

<!-- Error Messages -->
<messages></messages>

<!-- List My Pokemons -->
<section class="listagem">
    <ng-template ngFor let-pokemon [ngForOf]="readData">       
        <a class="pokemon">
            <section class="pokemons__status">
               
                <h2>ID: {{pokemon.id}}</h2>
                <p>
                    Nome: {{ pokemon.name}}
                </p>
            </section>
            <section class="pokemon__image">
                <img [src]="pokemon.url" [alt]="pokemon.name">
            </section>     
            <section>
                <button type="submit" (click)="deletePokemon(pokemon.name)">
                    X
                </button> 
            </section>     
        </a>       
    </ng-template>   
</section>
